/* splashScreenLayout css */

.splashScreenLayout{
	margin: auto;
	width: 50%;
}
.splashScreenLayout img{
	display: block;
	margin: auto;

}
.splashScreenLayout p{
	margin: auto;
	display: block;
	text-align: center;
}

/* score board css */
.score_board{
    margin: auto;
    width: 36%;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 0px 11px -1px #ccc;
}
/* game board */
table{
    padding: 5px;
    margin: auto;
    box-shadow: 0px 0px 11px -1px #ccc;
}
td{
    border: 1px solid #ccc;
    cursor: pointer;
    height: 55px;
    width: 55px;
    text-align: center;
    
}
tr{
    padding: 5px;
}
td:hover{
    box-shadow: 0px 0px 11px -1px #ccc;
}
.hiddenImage{
    width: 50px;
    height: 50px;
}

/* No page found css */
.noFound{
    position: absolute;
    left: 25%;
    margin: auto;
    right: 25%;
    top: 25%;
    bottom: 25%;
    text-align: center;
}
.noFound label{
    font-family: cursive;
    font-size: 20px;
}
.noFound img{
    height: 250px;
}
.goBackSplashScreen {
    font-family: cursive;
    text-decoration: none;
    color: inherit;
}